
.switch_one_left{
  position: relative;
  display: inline-block;
  width: 52px;
  height: 26px;
}





.switch_three_right_screen{
  position: relative;
  display: inline-block;
  width: 52px;
  height: 26px;
}
.switch_four_left{
  position: relative;
  display: inline-block;
  width: 52px;
  height: 26px;
  float: right;
  
}





.switch_one_left input{
  opacity: 0;
  width: 0;
  height: 0;
}
.switch_three_left input{
  opacity: 0;
  width: 0;
  height: 0;
}
.switch_one_right input{
  opacity: 0;
  width: 0;
  height: 0;
}
.switch_two_right input {
  opacity: 0;
  width: 0;
  height: 0;
}
.switch_three_right_screen input{
  opacity: 0;
  width: 0;
  height: 0;
}
.switch_four_left input {
  opacity: 0;
  width: 0;
  height: 0;
}


.one_left,.three_left,.one_right_kvm_input,.two_right_projector_input,.four_left{
  background: ;
  margin-top:14px;
  margin-bottom: 14px;
}


li{
  list-style: none;
}
.three_right_screen_open{
  padding-right: 52px;
  float: left;
  padding-top: 4px;
}
.three_right_screen_close{
  padding-top: 4px;
}

.three_right_screen{
  padding-top: 10px;
}





.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 18px;
  width: 18px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 26px;
}

.slider.round:before {
  border-radius: 50%;
}

/*SceneStyle*/

.SceneStyle {
  width: 80%;
  height: 40px;
  margin-top: -6px;
  background: rgb(154,36,252);
  background: linear-gradient(135deg, rgba(154,36,252,1) 0%, rgba(168,195,255,1) 100%);
  border-width: thin;
  border: 1.5px;
  border-radius: 16px;
  border-color: rgba(91, 91, 91, 1) align-items: center;
  text-align: center;
  margin-left: 0px;
	cursor: pointer;
}

#yuuop{
  background-color: yellow;
  margin: 0;
  padding: 0px;
  width: 300px;
}





















